.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  background-color: white;
  opacity: 0;
  animation: show 500ms 100ms forwards;
}

.post__header {
  display: flex;
  background-color: black;
  height: 70px;
  padding: 0 30px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.post__title {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__buttons {
  display: flex;
  justify-content: space-between;
  font-size: 22.5px;
  width: 65px;
}

.post__buttons__icons {
  cursor: pointer;
}

.post__main {
  padding: 0 30px;
}

.post__info {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 18px;
  padding: 15px 0;
}

.post__text {
  display: flex;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .post {
    overflow-x: hidden;
  }
  .post__main,
  .post__header {
    padding: 0 10px;
  }
  .post__info {
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  .post__info__creator {
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
  }
}
