.singup {
  width: 100vw;
  height: 100vh;
  animation: show 0.5s forwards;
  opacity: 0;
}

.singup__content {
  position: relative;
  top: 50%;
  max-width: 500px;
  margin: 0 auto;
  transform: translatey(-50%);
}
